@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --color-primary: 255, 255, 255;
   --color-contrast: 14, 14, 14;
   --color-accent: 255, 192, 0;
   --color-accent-to-gradient: 135, 97, 23;
}

@media (prefers-color-scheme: dark) {
   :root {
      --color-primary: 14, 14, 14;
      --color-contrast: 255, 255, 255;
   }
}

@layer base {
   .layout {
      @apply container mx-auto;
   }
}

@layer utilities {
   
}

/* Example */
body {
   color: rgb(var(--foreground-rgb));
   background: linear-gradient(
         to bottom,
         transparent,
         rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
}
